<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">



    <style>
        h1 {
            font-size: 34px !important;
            font-family: Arial, Helvetica, sans-serif !important;
        }

        .jumbotron>.container>p {
            font-size: 20px !important;
            font-family: '黑体';
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">数据加密选择</a>
            </div>
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>加密算法</h1>
            <p>加密作为保障数据安全的一种方式，它不是才有的，它产生的历史相当久远，它是起源于要追溯于公元前2000年（几个世纪了），虽然它不是我们所讲的加密技术（甚至不叫加密），但作为一种加密的概念，确实早在几个世纪前就诞生了。当时埃及人是最先使用特别的象形文字作为信息编码的，随着时间推移，巴比伦、美索不达米亚和希腊文明都开始使用一些方法来保护他们的书面信息。
            </p>
            <p><a class="btn btn-primary btn-lg btn-default" href="#" role="button">嘿嘿</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Base64</h2>
                <p>
                    Base64就是一种基于64个可打印字符来表示二进制数据的方法。
                    Base64编码是从二进制到字符的过程，可用于在HTTP环境下传递较长的标识信息。
                    采用Base64编码具有不可读性，需要解码后才能阅读。
                </p>
                <p><a class="btn btn-primary " href="/base" role="button"> GoTryItOn &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>SHA-1</h2>
                <p>
                    SHA-1是一种密码散列函数，美国国家安全局设计，并由美国国家标准技术研究所发布为
                    联邦数据处理标准。SHA-1可以生成一个被称为消息摘要的160位（20字节）散列值，
                    散列值通常的呈现形式为40个十六进制数
                </p>
                <p><a class="btn btn-primary" href="/sha1" role="button">GoTryItOn &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>MD5</h2>
                <p>
                    MD5信息摘要算法（英语：MD5 Message-Digest Algorithm），一种被广泛使用的密码散列函数，
                    可以产生出一个128位（16字节）的散列值（hash value），用于确保信息传输完整一致。
                </p>
                <p><a class="btn btn-primary" href="/md5" role="button">GoTryItOn &raquo;</a></p>
            </div>
        </div>
</body>

</html>